{% extends 'account/_base.html' %} {% load i18n %} {% block title %}{% translate
"Change password" %}{% endblock %} {% block content_auth_form %} {% if
token_fail %}
<h2>{% translate "Invalid token" %}</h2>
{% url 'account_reset_password' as the_url %}
<p>
  {% blocktranslate %}The password reset link was invalid. Perhaps it has
  already been used? Please request a
  <a href="{% the_url %}">new password reset</a>.{% endblocktranslate %}
</p>
{% else %} {% if form %}
<h2>{% translate "Change password" %}</h2>
<form method="post">
  {% csrf_token %} {{ form }}
  <div>
    <button type="submit">{% translate "Change password" %}</button>
  </div>
</form>
{% else %}
<h2>{% translate "All done!" %}</h2>
<p>{% translate "Your password is now changed." %}</p>
{% endif %} {% endif %} {% endblock content_auth_form %}
